
.badge{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    margin:0.2rem;
    padding: 0.2rem;    
}
.badge-default{
    background-color: var(--default-badge-background-color) ;
}
.badge-success{
    background-color: var(--success-badge-background-color);
    color: var(--success-font-color) ;
}
.badge-error{
    background-color: var(--error-badge-background-color);
    color : var(--error-font-color)
}
.badge-new{
    background-color: var(--new-badge-background-color);
    color: var(--new-font-color);
}

.badge-notification{
    background-color: var(--notification-badge-background-color);
    color: var(--white-color);
    line-height: 20px;
    width: 20px;
    padding:0.2rem;   
}

.icon-button{
    position:relative;
    display:flex;
    justify-content:center;
    align-items: center;
    height:50px;
    width:50px;
    border-radius: 50%;
    border: none;
    outline:none;
  
    cursor: pointer;
}
.icon-button:active{
    background-color: #cccccc;
}

.badge-notification2{
    position:absolute;
    top:-5px;
    right:-5px;
    background-color: var(--primary-color);
    width:25px;
    height:25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    font-size: 10px;
    color:var(--white-color);
    border:2px solid var(--white-color)
}

.badge-notification-on-icon{
    position: relative;
    bottom: 15px;
    right: 20px;
    background-color: var(--notification-badge-background-color);
    color: var(--white-color);
    font-weight: 100;
    font-size: 10px;
    padding: 0.2rem;
    border-radius:4px;
    border : 2px solid var(--white-color)


}   
.badge-notification-on-profile{
    position: relative;
    bottom: 20px;
    right: 15px;
    background-color: var(--notification-badge-background-color);
    color: var(--white-color);
    font-weight: 100;
    font-size: 10px;
    padding: 0.2rem;
    border-radius:4px;
    border : 2px solid var(--white-color)

}   





